.counts {
  margin: 12px 0;
  color: var(--text-color-secondary);
  display: flex;
  font-size: large;
}

.counts_value {
  margin: 0 4px;
  color: var(--primary-color);
  font-weight: 700;
}


.inputContainer {
  margin-bottom: 40px;
}

@media screen and (min-width: 720px) {
  .inputContainer {
    display: flex;
    justify-content: space-between;
  }

  .counts {
    flex: 1;
  }

  .input {
    flex: 2;
  }
}
